<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <h2 class="text-center h2-font">ログイン</h2>
    <br>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, placeholder: "メールアドレス", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.password_field :password, autocomplete: "off", placeholder: "パスワード", class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "ログイン", class: "btn btn-block btn-primary" %>
      </div>

      <div>
        <span class="pull-right">
          <%= link_to "パスワードを忘れた場合はこちら", new_user_password_path %>
        </span>
      </div>

    <% end %>

    <hr>
    <%= link_to "Facebookでログイン", user_facebook_omniauth_authorize_path, class: "btn btn-facebook btn-block" %>

  </div>
</div>


